.main {

  @include min-screen($breakpoint-medium) {
    padding-top: 30px;
  }
}

.main-content {
  
  @include min-screen($breakpoint-small) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  h1,
  h2 {
    text-align: center;

    @include min-screen($breakpoint-small) {
      text-align: right;
    }
  }
  
  h2 {
    margin-bottom: 30px;
    
    @include min-screen($breakpoint-medium) {
      margin-bottom: 70px;
    }
  }
}


.main-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include min-screen($breakpoint-medium) {
    
  }    
    img {
      width: 490px;
    }
}