/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all $transition-speed ease;
  background: none;
  border: none;
  color: $color-input;
  width: 100%;
  display: inline-block;
  font-family: $base-font-family;
  @include font-size(14px);
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%;

  &:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */
  }

  &[readonly] {
    cursor: text;
  }

  &::-ms-clear {
    display: none;
    /* remove IE clear icon */
  }

  @include input-placeholder {
    color: $color-input;
  }

  &:not(:disabled) {
    &:hover {
    }

    &:focus {
      outline: none;
    }
  }
}

.input--primary {
  height: $input-height;
  padding: $input-padding;
  color: $color-input;
  display: flex;
  border: 2px solid $color-border;
  border-radius: $base-radius;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  &:not(:disabled) {
    &:hover,
    &:focus {
      border: 2px solid $color-base;
    }

    &:focus {
      @include input-placeholder {
        color: rgba($color-input, 0.5);
      }
    }

    @include input-placeholder {
      color: $color-input-placeholder;
      opacity: 1;
    }
  }

  /**
   * @disabled
   */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.input--top-round {
  border-radius: $secondary-radius $secondary-radius $base-radius $base-radius;
}
