.select-box {
  display: flex;
  height: $input-height;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    background-position: 50% 50%;
    background-image: url("../images/arrow-down-sign-to-navigate.svg");
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
    background-repeat: no-repeat;
    transition: transform $transition-speed ease;
  }
}

.select-box__element {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  -moz-text-align-last: center;
  -ms-text-align-last: center;
  text-align-last: center;
  text-align: center;
  color: $color-text;
  text-transform: uppercase;
  @include font-size(14px);
  height: 100%;
  flex: 1;
  background-color: #162331;
  border: 2px solid $color-border;
  border-radius: $base-radius;
  padding: 0 10px;
  cursor: pointer;
  transition: border $transition-speed ease;

  &:hover {
    border-color: $color-base;
  }
}

/* Remove IE arrow */
.select-box__element::-ms-expand {
  display: none;
}
