{% extends "layouts/default.html" %}

{% set homepage = true %}
{% set pagetitle = "Homepage" %}
{% set bodyClass = "homepage" %}

{% block content %}
{% include "./components/header.html" -%}

<main>
  <section>
    <div class="wrapper">
      <div bp="grid">
        <div bp="5@md">
          {{ allMacros.image('1280px', 'img1.png', 'img1@2x.png', 'Girl') }}
        </div>
        <div bp="7@md" class="main-content">
          <h1>Lorem ipsum dolor sit amet</h1>
          <h2>Lorem ipsum dolor sit amet</h2>

          {% include "./components/form.html" -%}
          
        </div>
      </div>
    </div>
  </section>
</main>

{% include "./components/footer.html" -%}

{% endblock %}
