/* ------------------------------------*\
    #RESET
\*------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  min-height: 100vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #162331; }

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 20px; }

img {
  max-width: 100%; }

picture {
  display: block; }

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit; }

h1,
.h1 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.01786;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17; }
  @media screen and (min-width: 480px) {
    h1,
    .h1 {
      font-size: 38px;
      font-size: 2.375rem;
      line-height: 1.02632; } }
  @media screen and (min-width: 720px) {
    h1,
    .h1 {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1; } }
  @media screen and (min-width: 960px) {
    h1,
    .h1 {
      font-size: 58px;
      font-size: 3.625rem;
      line-height: 1.00862; } }
  @media screen and (min-width: 1280px) {
    h1,
    .h1 {
      font-size: 68px;
      font-size: 4.25rem;
      line-height: 1.01471; } }

h2,
.h2 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase; }

a {
  color: #0073E6;
  transition: color 0.15s ease, border 0.15s ease;
  text-decoration: none; }
  a:hover {
    color: #004080; }
  a:focus, a:active {
    outline: none;
    color: #004080; }

.wrapper {
  width: 1240px;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 1280px) {
    .wrapper {
      width: calc(1240px + (20px * 2));
      padding-right: 20px;
      padding-left: 20px; } }

.header-main__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0; }

.site-logo {
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.05; }
  @media screen and (min-width: 960px) {
    .site-logo {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.03125; } }
  .site-logo:hover {
    color: #0073E6; }

.login {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.07143;
  display: flex;
  width: 100px;
  height: 50px;
  border: 2px solid #163B60;
  border-radius: 30px;
  justify-content: center;
  align-items: center; }
  .login:hover, .login:focus, .login:active {
    border: 2px solid #0073E6;
    color: #fff; }

.site-logo,
.login {
  color: #fff;
  text-transform: uppercase; }

.footer-main {
  padding: 36px 0; }
  .footer-main .wrapper {
    text-align: center; }
    @media screen and (min-width: 960px) {
      .footer-main .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
  .footer-main .site-logo {
    display: block;
    margin-bottom: 20px; }
    @media screen and (min-width: 960px) {
      .footer-main .site-logo {
        margin-bottom: 0; } }

.footer-main__content-text {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  line-height: 1.25;
  margin-bottom: 15px;
  display: block; }
  .footer-main__content-text br {
    display: none; }
    @media screen and (min-width: 960px) {
      .footer-main__content-text br {
        display: block; } }
  @media screen and (min-width: 960px) {
    .footer-main__content-text {
      display: flex;
      justify-content: flex-end;
      text-align: right; } }

.footer-main__nav-list {
  margin-bottom: 0;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 960px) {
    .footer-main__nav-list {
      justify-content: flex-end; } }

.footer-main__nav-item {
  margin: 0 5px; }
  .footer-main__nav-item a {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    line-height: 1.28;
    text-transform: uppercase; }
    .footer-main__nav-item a:hover {
      color: #0180ff; }
    @media screen and (min-width: 960px) {
      .footer-main__nav-item a {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.07143; } }
  @media screen and (min-width: 960px) {
    .footer-main__nav-item {
      margin-left: 20px; } }

/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all 0.15s ease;
  background: none;
  border: none;
  color: #fff;
  width: 100%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.07143;
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%; }
  .input:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */ }
  .input[readonly] {
    cursor: text; }
  .input::-ms-clear {
    display: none;
    /* remove IE clear icon */ }
  .input::-webkit-input-placeholder {
    color: #fff; }
  .input:-moz-placeholder {
    color: #fff; }
  .input::-moz-placeholder {
    color: #fff; }
  .input:-ms-input-placeholder {
    color: #fff; }
  .input::placeholder {
    color: #fff; }
  .input:not(:disabled):focus {
    outline: none; }

.input--primary {
  height: 50px;
  padding: 20px;
  color: #fff;
  display: flex;
  border: 2px solid #163B60;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  /**
   * @disabled
   */ }
  .input--primary:not(:disabled):hover, .input--primary:not(:disabled):focus {
    border: 2px solid #0073E6; }
  .input--primary:not(:disabled):focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .input--primary:not(:disabled):focus:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .input--primary:not(:disabled):focus::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .input--primary:not(:disabled):focus:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .input--primary:not(:disabled):focus::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .input--primary:not(:disabled)::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .input--primary:not(:disabled):-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .input--primary:not(:disabled)::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .input--primary:not(:disabled):-ms-input-placeholder {
    color: #fff;
    opacity: 1; }
  .input--primary:not(:disabled)::placeholder {
    color: #fff;
    opacity: 1; }
  .input--primary:disabled {
    opacity: 0.5;
    cursor: not-allowed !important; }

.input--top-round {
  border-radius: 30px 30px 4px 4px; }

/**
* Reset button styles.
*/
.button {
  -webkit-font-smoothing: inherit;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #0073E6;
  transition: background-color 0.15s ease, color 0.15s ease;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.15s ease;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  line-height: 1; }
  .button:not(:disabled):active {
    outline: none;
    box-shadow: none !important;
    text-decoration: none; }
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important; }

.button--primary {
  justify-content: center;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  height: 70px;
  width: auto;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  background-color: #0073E6;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }
  .button--primary:not(:disabled):hover, .button--primary:not(:disabled):focus, .button--primary:not(:disabled):active {
    background-color: #0180ff; }

.button--full-width {
  width: 100%; }

.button--submit {
  border-radius: 4px 4px 30px 30px;
  margin-bottom: 5px; }

@media screen and (min-width: 960px) {
  .main {
    padding-top: 30px; } }

.main__grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr); }

.main__content {
  max-width: 100%;
  grid-column: span 12; }
  @media screen and (min-width: 720px) {
    .main__content {
      grid-column: span 7 / span 7;
      display: flex;
      flex-direction: column;
      align-items: flex-end; } }

.main__content-heading,
.main__content-subheading {
  text-align: center; }
  @media screen and (min-width: 720px) {
    .main__content-heading,
    .main__content-subheading {
      text-align: right; } }

.main__content-subheading {
  margin-bottom: 30px; }
  @media screen and (min-width: 960px) {
    .main__content-subheading {
      margin-bottom: 70px; } }

.main__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: span 12; }
  .main__image img {
    width: 490px; }
  @media screen and (min-width: 720px) {
    .main__image {
      grid-column: span 5 / span 5; } }

.form-main {
  margin: 0 auto;
  width: 480px;
  max-width: 100%; }
  @media screen and (min-width: 720px) {
    .form-main {
      margin: 0 0 60px; } }

.form-main__item {
  margin-bottom: 10px; }

.select-box {
  display: flex;
  height: 50px;
  position: relative; }
  .select-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    background-position: 50% 50%;
    background-image: url("../images/arrow-down-sign-to-navigate.svg");
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
    background-repeat: no-repeat;
    transition: transform 0.15s ease; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  -moz-text-align-last: center;
  -ms-text-align-last: center;
  text-align-last: center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.07143;
  height: 100%;
  flex: 1;
  background-color: #162331;
  border: 2px solid #163B60;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
  transition: border 0.15s ease; }
  select:hover {
    border-color: #0073E6; }

/* Remove IE arrow */
select::-ms-expand {
  display: none; }

.checkbox__input {
  opacity: 0;
  visibility: hidden;
  position: absolute; }
  .checkbox__input:checked + .checkbox__label .checkbox__icon {
    border: 2px solid #0073E6; }
    .checkbox__input:checked + .checkbox__label .checkbox__icon b:before {
      height: 9px;
      transition: all 0.05s ease 0.1s; }
    .checkbox__input:checked + .checkbox__label .checkbox__icon b:after {
      width: 15px;
      transition: all 0.1s ease 0.15s; }
  .checkbox__input[disabled] + .checkbox__label {
    color: #a1a9b3 !important;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default; }
    .checkbox__input[disabled] + .checkbox__label .checkbox__icon {
      background-color: rgba(0, 115, 230, 0.2) !important;
      border-color: rgba(0, 115, 230, 0.2) !important; }

.checkbox__label {
  position: relative;
  padding-left: 55px;
  color: #fff;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.05;
  line-height: 1.3; }
  .checkbox__label:hover span {
    border: 2px solid #0073E6; }

.checkbox__icon {
  display: inline-block;
  visibility: visible;
  width: 40px;
  height: 40px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border: 2px solid #163B60;
  border-radius: 50%;
  box-sizing: border-box;
  transition: border 0.15s ease; }
  .checkbox__icon b {
    position: absolute;
    height: 9px;
    width: 15px;
    display: block;
    left: 11px;
    top: 11px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
    .checkbox__icon b:before, .checkbox__icon b:after {
      content: "";
      display: block;
      width: 2px;
      height: 0;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: none; }
    .checkbox__icon b:before {
      bottom: auto;
      top: 0; }
    .checkbox__icon b:after {
      width: 0;
      height: 2px; }

.members {
  background-color: #0d1621;
  padding: 30px 0 40px;
  text-align: center; }

.members__heading {
  margin-bottom: 25px; }

.members__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 20px;
  justify-items: center; }
  .members__images img {
    width: 100%; }

.members__images-link {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */
