a {
  color: $color-link;
  transition: color $transition-speed ease, border $transition-speed ease;
  text-decoration: none;

  &:hover {
    color: darken($color-link, 20%);
  }

  &:focus,
  &:active {
    outline: none;
    color: darken($color-link, 20%);
  }
}
