//base font settings
$base-font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$base-radius: 4px;
$secondary-radius: 30px;

$spacing-unit: 20px;
$spacing-unit--small: 10px;

$page-default-width: 1240px;

$transition-speed: 0.15s;

// Breakpoints
$breakpoint-tiny: 480px;
$breakpoint-small: 720px;
$breakpoint-medium: 960px;
$breakpoint-large: 1280px;
$breakpoint-extralarge: 1440px;

$btn--primary-height: 70px;
$btn--primary-padding: 0 20px;

$input-height: 50px;
$input-padding: 20px;