$color-white: #fff;
$color-base: #0073E6;

$color-text: $color-white;

$color-link: $color-base;

$color-btn: $color-base;
$color-btn-hover: darken($color-base, 5%);
$color-btn-focus: darken($color-base, 10%);
$color-btn-active: darken($color-base, 15%);

$color-input: $color-white;
$color-input-placeholder: $color-white;
$color-border: #163B60;

